@model AUDITORIUM

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Удаление аудитории</title>
</head>
<body>
<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>Аудитория</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            <p>Здание</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUILDING)
        </dd>

        <dt>
            <p>Вместимость</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAPACITY)
        </dd>

        <dt>
            <p>Номер аудитории</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUDITORIUM_NUMBER)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Назад к аудиториям", "Index")
        </div>
    }
</div>
</body>
</html>