@model SheaduleASP.TIMETABLE

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление</title>
</head>
<body>
    <h3>Вы уверены что хотите удалить?</h3>
    <div>
        <h4>Расписание</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Курс
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COURSE_CODE)
            </dd>
    
            <dt>
                Номер недели
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WEEK_NUMBER)
            </dd>
    
            <dt>
                Количество крестов
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CROSSES)
            </dd>
    
            <dt>
                Вид
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACTIVITY.ACTIVITY_TYPE_NAME)
            </dd>
    
            <dt>
                Здание
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AUDITORIUM.BUILDING)
            </dd>
    
            <dt>
                Предмет
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DISCIPLINE.DISCIPLINE_NAME)
            </dd>
    
            <dt>
                Группа
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GROUPS.GROUP_NUMBER)
            </dd>
    
            <dt>
                Преподаватель
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TEACHER.TEACHER_NAME)
            </dd>
    
            <dt>
                Время начала
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIME.TIME_START)
            </dd>
    
            <dt>
                Расписание
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TYPE.TYPE_NAME)
            </dd>
    
            <dt>
                Дени недели
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WEEKDAY.WEEKDAY_NAME)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("Вернуться", "Index")
            </div>
        }
    </div>
</body>
</html>
