@model IEnumerable<SheaduleASP.TIMETABLE>

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Расписание</title>
</head>
<body>
    <p>
        @Html.ActionLink("Создать", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Курс
            </th>
            <th>
                Номер недели
            </th>
            <th>
                Количество крестов
            </th>
            <th>
                Вид занятия
            </th>
            <th>
                Здание
            </th>
            <th>
                Название дсциплины
            </th>
            <th>
                Группа
            </th>
            <th>
                Преподаватель
            </th>
            <th>
                Время начала
            </th>
            <th>
                Расписание
            </th>
            <th>
                День недели
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COURSE_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEEK_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CROSSES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTIVITY.ACTIVITY_TYPE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AUDITORIUM.BUILDING)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DISCIPLINE.DISCIPLINE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GROUPS.GROUP_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEACHER.TEACHER_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIME.TIME_START)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE.TYPE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEEKDAY.WEEKDAY_NAME)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.LESSON_CODE }) |
                @Html.ActionLink("Информация", "Details", new { id=item.LESSON_CODE }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.LESSON_CODE })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
